body{
    background-color: skyblue;
}
h5{
    color: red;
}
div{
    top: 30px;
    vertical-align:middle;
    position: relative;
    text-align: center;
    overflow: hidden;
}
#login_ea_pos{
    position: absolute;
    bottom: 332.7px;
    right: 449.51px;
}
#login_pwd_pos{
    position: absolute;
    bottom: 292px;
    right: 377.5px;
}
#login_sub_pos{
    position: absolute;
    bottom: 292px;
    right: 313px;
}
#login_create_pos{
    position: absolute;
    bottom: 270px;
    right: 390px;
}
#login_forgot_pos{
    position: absolute;
    bottom: 270px;
    right: 275px;
}
#login_message_pos{
    position: absolute;
    bottom: 313px;
    right: 305px;
}
#egg_white_pos{
    position: absolute;
}
#yolk_pos{
    position: absolute;
    top: 195px;
    left: 220px;
}
#bacon_back{
    position: absolute;
    top: -626px;
    animation: falling 6s infinite linear;
}
#mini_bacon_back{
    position: absolute;
    top: -626px;
    animation: falling 16s infinite linear;
}

@keyframes falling {
  0%   {top:-626px;}
  100% {top:20px;}
}
