<!DOCTYPE html>
<html>
<head>
  <title> Sunflower </title>
  <!-- Linking this html to a css code -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginstyle.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="/imgs/sunflower_icon.png" />
</head>
<body>
    <div id = "login_box" >
        <form method="POST">
            <input id = "login_ea_pos" type="text" name="email address", placeholder="Email Address">
            <input id = "login_pwd_pos" type="password" name="password", placeholder="Password">
            <input id = "login_sub_pos" type="submit">
        </form>
        <a id = "login_create_pos" href="http://sunflower24.pythonanywhere.com/signup">Create an account</a>
        <a id = "login_forgot_pos" href="http://sunflower24.pythonanywhere.com/forgot">Forogt password</a>
        {% if invalid_inp %}
            <h5 id = "login_message_pos"> Wrong email/password </h5>
        {% endif %}
        <img id = "yolk_pos" src = "/imgs/yolk.png" alt = "Mr.Yolk">
        <img id = "bacon_back" src =  "/imgs/bacon_background.png" alt = "Bacon Background" style="width:626px;height:1288px">
        <img src="/imgs/background.png" alt = "Background" style="width:1100px;height:648px">
    </div>
    <p>
</body>
</html>
