<!DOCTYPE html>
<html>
    <head>
        <title> New Password </title>
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/sunflower_icon.png" />
    </head>
    <body>
        <h1> Sign Up </h1>
        <h3> Password must be more than six values. Must include number, symbol, letter. </h3>
        <form method="POST">
            <input type="password" name="password">
            <input type="password" name="password2">
            <input type="submit">
        </form>
        <a1>{{text}}</a1>
        <p></p>
        <a href="http://sunflower24.pythonanywhere.com/">Continue</a>
    </body>
</html>
